<html>
    <head>
        {% block head %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/common.css">
    </head>
    <body>
        <header class="header">
		<div class="logo">
				<p>LiteraTrack</p>
		</div>
		<div class=nav>
			<a href="/login" class="login">LOGIN</a>
			<a href="/signup"class="signup">SIGN UP</a>
		</div>
	</header>
        {% block body %}
        {% endblock %}
	<footer>
	</footer>
    </body>
</html>
